.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #fff;

  padding: 0;
  margin: 0;
  padding-top: 21px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &::after {
      content: "—";
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      margin: 0 4px;
      align-items: center;
      justify-content: center;
      color: #8184A2;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    & span {
      color: #8184A2;
    }
  }

  &__link {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1540px) {
  // .breadcrumbs {
  //   font-size: 10px;
  // }
}

@media (max-width: 1070px) {
  // .breadcrumbs {
  //   overflow: auto;
  // }
}

@media (max-width: 760px) {
  .breadcrumbs {
    padding-top: 16px;

    &__item {
      &:not(:nth-last-child(2)) {
        display: none;
      }

      &::after {
        display: none;
      }

      &::before {
        content: url(../img/svg/link-back_grey.svg);
        line-height: 0;
        margin-right: 14px;
      }
    }

    &__link {
      color: #8184A2;
    }
  }

  // .breadcrumbs {
  //   font-size: 12px;
  // }
}