footer.footer
    .container.d-flex.flex-column.align-items-center
        .footer__links
            a(href="#") Kontakt 
            span | 
            a(href="#") Impressum 
            span | 
            a(href="#") AGB 
            span | 
            a(href="#") Datenschutz 
        a(href="#").btn Deutsch