.default-checkbox {
  //display: inline-flex;
  //align-items: flex-start;
  display: block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  user-select: none;

  &--error {
    .default-checkbox {
      &__custom {
        border-color: $color-error;
      }
    }
  }
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 14px 8px 8px;
    @include transition('backgroud-color');
    &:hover {
      // background-color: #FAFAFA;
      .default-checkbox {
        &__custom {
          //border-color: $gray-99;
        }
      }
    }
  }
  &__custom {
    position: relative;
    border: 1px solid #99A6B1;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    @include transition('border-color, backgroud-color');
    svg {
      stroke: $text-color;
      fill: transparent;
      transform: scale(0);
      transition: all .3s cubic-bezier(.18,.89,.32,1.28);
    }
  }
  &__text {
    //font-size: 16px;
    //line-height: 24px;
    //color: $text-color;
    text-align: left;
    transition: all .3s cubic-bezier(.18,.89,.32,1.28);
  }
  input {
    display: none;
    &:checked {
      & ~ .default-checkbox {
        &__custom {
          border-color: $text-color;

          &:after,
          svg {
            transform: scale(1);
          }
        }
      }
    }
    &.disabled, &:disabled {
      & ~ .default-checkbox {


        &__text {
          color: #99A6B1;
        }

        &__custom {
          border-color: #EBEFF2;

          svg {
            transform: scale(0);
            stroke: #99A6B1;
          }

          &:after {
            transform: scale(0);
          }
        }
      }
    }

    &.error ~ .default-checkbox__custom {
      border-color: $color-error;
    }
    //&.error ~ .default-checkbox {
    //  &__text {
    //    &::after {
    //      border-color: #EB5757;
    //    }
    //  }
    //}
  }
  //label.error {
  //  display: none !important;
  //}
  label.error {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4F5A65;
    position: absolute;
    left: 0;
    bottom: calc(100% + 13px);
    border: 1px solid #C4C4C4;
    background-color: #fff;
    z-index: 2;
    padding: 14px 18px;
    &::before {
      content: "";
      position: absolute;
      left: 18px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #C4C4C4;
      //top: -9px;
      top: calc(100%);
      //border-bottom-color: #C4C4C4;
    }
    &::after {
      content: "";
      position: absolute;
      border-bottom: 9px solid #fff;
      top: calc(100% - 1px);
      left: 18px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
    }
    &::before,
    &::after {
      transform: rotate(180deg);
    }
  }

  &.inners {

    & .default-checkbox__custom {


      &:after {
        content: '';
        position: relative;
        width: 6px;
        height: 3px;
        background: #3C4751;
        transform: scale(0);
        transition: all .3s cubic-bezier(.18,.89,.32,1.28);
      }

      & svg {
        display: none;
      }
    }
  }

  &.chk-button {

    &.right-top {

      & .default-checkbox__custom {
        width: 14px;
        height: 10px;
        top: 0;
        right: 0;
        left: auto;
        transform: translate3d(0,0,0);
      }
    }

    & .default-checkbox__label {
      background: transparent;
      position: relative;
      z-index: 1;
      padding: 6px 14px;

      &:hover{

        & .default-checkbox__text {
          color: #3C4751;

          &:after {
            border-color: #66707A;
          }
        }
      }
    }

    & .default-checkbox__custom {
      width: 14px;
      height: 20px;
      border: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(-50%,-50%,0);
      margin: 0;
    }

    & .default-checkbox__text {

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #BFCDD8;
        z-index: -1;
        @include transition('border-color')
      }
    }

    & input {
      display: none;

      &:checked {
        & ~ .default-checkbox {
          &__custom {
            background: white;
            svg {
              transform: scale(1);
            }
          }

          &__text {

            &:after {
              border-color: $text-color;
            }
          }
        }
      }

      &.disabled, &:disabled {
        & ~ .default-checkbox {
          &__text {
            color: #99A6B1 !important;

            &:after {
              border-color: #EBEFF2 !important;
            }
          }

          &__custom {
            background: transparent;

            svg {
              transform: scale(0) !important;
              stroke: #99A6B1 !important;
            }

            &:after {
              transform: scale(0) !important;
            }
          }
        }
      }
    }
  }
}

.img-checkbox {
  display: block;
  user-select: none;

  &__label {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
    @include transition('backgroud-color');

    &:hover {

      & .img-checkbox__img {

        &:after {
          border-color: #BFCDD8;
        }
      }
    }
  }
  &__custom {
    width: 28px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: 2;
    transform: scale(0);
    @include transition('transform');

    svg {
      stroke: $text-color;
      fill: transparent;
      transition: all .3s cubic-bezier(.18,.89,.32,1.28);
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;

      @include transition('border-color');
    }
  }
  input {
    display: none;
    &:checked {
      & ~ .img-checkbox {
        &__custom {
          transform: scale(1);
        }

        &__img {
          &:after {
            border-color: #232323;
          }
        }
      }
    }
    &.disabled, &:disabled {
      & ~ .img-checkbox {

        &__custom {
          transform: scale(0);
        }
      }
    }
  }
}

.color-checkbox {
  display: block;
  user-select: none;

  &__label {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    border-radius: 50%;
    overflow: hidden;
    @include transition('backgroud-color');

    &:hover {

    }
  }
  &__custom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: scale(0);
    @include transition('transform');

    &.invert {

      & svg {
        stroke: $text-color;
      }
    }

    svg {
      stroke: white;
      fill: transparent;
      transition: all .3s cubic-bezier(.18,.89,.32,1.28);
    }
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  }
  input {
    display: none;
    &:checked {
      & ~ .color-checkbox {
        &__custom {
          transform: scale(1);
        }

        &__bg {

        }
      }
    }
    &.disabled, &:disabled {
      & ~ .color-checkbox {

        &__custom {
          transform: scale(0);
        }
      }
    }
  }
}



@media (min-width: 767px) and (max-width: 1540px){
  .default-checkbox {
    font-size: 12px;

    &__label {
      padding: 4px 14px 4px 14px;
    }

    &.chk-button {

      & .default-checkbox__label {
        padding: 4px 14px;
      }
    }
  }

  .img-checkbox {

    &__label {
      width: 42px;
      height: 42px;
    }

    &__img {

      & img {
        max-width: 60%;
        max-height: 60%;
      }
    }
  }
}

@media (max-width: 767px) {
  .default-checkbox.chk-button .default-checkbox__label {
    padding: 10px 12px;
  }
}
